{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_todo/local/todoinput

    This template renders the main content area for the TODO block.

    Example context (json):
    {}
}}
<div id="block-todo-input-{{uniqid}}" data-for="todo-input">
    <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="New task" aria-label="New task" data-for="todo-input">
        <button class="btn btn-outline-secondary" type="button" data-action="addtodo">{{#str}} add, core {{/str}}</button>
    </div>
</div>
{{#js}}
require(['block_todo/local/components/todoinput'], function(component) {
    component.init('#block-todo-input-{{uniqid}}');
});
{{/js}}