{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_todo/local/todolist

    This template renders the main content area for the TODO block.

    Example context (json):
    {
        "todos": [
            {
                "id": 1,
                "name": "Todo 1",
                "done": "true"
            },
            {
                "id": 2,
                "name": "Todo 2",
                "done": "false"
            }
        ]
    }
}}
<div id="block-todo-list-{{uniqid}}" data-for="todo-list" class="mb-2">
    <ul class="list-group m-0" data-for="todos">
        {{#todos}}
        {{> block_todo/local/todolistitem }}
        {{/todos}}
    </ul>
</div>
{{#js}}
require(['block_todo/local/components/todolist'], function(component) {
    component.init('#block-todo-list-{{uniqid}}');
});
{{/js}}